<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="SoapBinding">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://wendell-test.wuerth.com/ws/MFT-WebServiceMFTPort?ls=200"
                      binding="customBinding" bindingConfiguration="SoapBinding"
              contract="SeeburgerService.MFTWebServiceMFTPortType" name="MFT-WebServiceMFTPort" /> <!-- basicHttpBinding -->
            <!-- Irgendwas muss hier mit dem Binding nicht stimmen -> Aber was...?-->
        </client>
    </system.serviceModel>
</configuration>

